/node_modules
/yarn.lock
/package-lock.json
/example/dist
/example/node_modules
/example/pages/.umi
/example/pages/.umi-production
/lib
/dist
/example/.wetrial-modules/node_modules
/example/.wetrial-modules/yarn.lock
